.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .header,
.dark-mode .footer {
  background-color: #1e1e1e;
}

.dark-mode .card,
.dark-mode .project-card {
  background-color: #2b2b2b;
  color: #ffffff;
}

.dark-mode .btn--toggle {
  background: linear-gradient(135deg, #f72585, #7209b7);
}