/* Reset Default Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* Header Section */

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 28px;
}

header p {
    font-size: 16px;
    margin-bottom: 10px;
}

nav a {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover {
    color: #1abc9c;
}

/* Main Layout */

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

/*  Section Styling */

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* About Section */

#about img {
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Skills Section */

#skills ul {
    list-style-type: square;
    margin-left: 20px;
}

#skills li {
    padding: 5px 0;
}

/* Contact Form */

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1abc9c;
}


 /* Footer */

footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}

footer a {
    color: #1abc9c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */

@media (max-width: 768px) {
    header h1 {
        font-size: 22px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }
}
